.single-post-container-w {
    display: flex;
    box-sizing: border-box;
  
    font-weight: 400;
    line-height: 1.4;
    color: #373844;
    font-size: 14px;
     
    justify-content: center;




}
.index-posts-w {
    @include small {
        display: none;
    }

    @include medium {
        display: block;
    }

    @include large {
        width: 40%;
    }
   
}

.single-post-w .post-content .wp-image {

    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 60px;
    padding: 10px;
     




}

.single-post-w .single-post-meta {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
  }




.wp-image {
    @include small {
        display: flex;
        border-radius: 6px;
        width:  800px;
        height: 550px;
        justify-content: center;
    }

    @include medium {
        
    }

    @include large{
        display: flex;
        border-radius: 6px;
        width: 600px;
        height: 550px;
        justify-content: center;
    }


    



 
   

}
